<div class="container">
  <div class="row">
    <div class="col-sm">
      111 First Column Content 111
    </div>
    <div class="col-sm">
      222 Second Column Content 222
    </div>
  </div>
</div>
