<div id="menu" class="col-xs-12 col-sm-4 col-md-3">
	<div id="menu-content">
		{{ if isset .Site.Params "title" }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a></h1>
		{{ else }}
			<h1 class="text-center"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		{{ end }}
		
		{{ if isset .Site.Params "subtitle" }}
			<small class="text-center center-block">{{ .Site.Params.subtitle }}</small>
		{{ end }}
		
		{{ if isset .Site.Params "profilepic" }}
			<img id="profile-pic" src="{{ .Site.BaseURL }}/{{ .Site.Params.profilepic }}" alt="My Picture" class="hidden-xs img-circle center-block">
		{{ end }}
		
		<div id="social" class="text-center">
			{{ range .Site.Params.socialbuttons }}
				<a href="{{ .Site.BaseURL }}/{{ .url }}"><i class="fa fa-{{ .faicon }} fa-2x"></i></a>
			{{ end }}

			<!--{{ if isset .Site.Params "email" }}<a href="mailto:{{.Site.Params.email}}"><i class="fa fa-envelope-o fa-2x"></i></a>{{ end }}-->
		</div>
		
		<div id="links" class="text-center">
			{{ $url := .Site.BaseURL }}
			{{ range .Site.Params.navlinks }}
				<a href="{{ $url }}{{ .url }}">{{ .name }}</a>
			{{ end }}
		</div>
	</div>
  <div class="sticky-footer hidden-xs text-center center-block">
    <span class="float-right">© Copywrite 2018<a href="{{ .Site.BaseURL }}"> mikejick.com</a></span>
  </div>
</div>
